<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<div class="container">
    <div class="nav">
        <div class="logo">
            <a th:href="@{/admin/}">Haven</a>
        </div>
        <div class="">
            <h3 style="color: #f1f1f1" th:text="${branch}+' Branch'"></h3>
        </div>
        <div class="menu">
            <a th:href="@{/admin/addroom}">Add Room</a>
        </div>
    </div>
    <main>
        <div class="top">
            <div class="rooms">
                <div class="get_room">
                    <p class="get_room_title">Total Rooms</p>
                    <p class="get_room_input">All Timer</p>
                </div>
                <p class="get_room_value" th:text="${totalRooms}">
                    450
                </p>
            </div>
            <div class="rooms">
                <div class="get_room">
                    <p class="get_room_title">Increase</p>
                    <p class="get_room_input">All Timer</p>
                </div>
                <p th:text="${roomIncrease}" class="get_room_value">
                </p>
            </div>
            <div class="rooms">
                <div class="get_room">
                    <p class="get_room_title">Occupied</p>
                    <p class="get_room_input">
                    <form class="for_month_form" action="">
                        <input type="month" name="for_month" class="for_month">
                    </form>
                    </p>
                </div>
                <p th:text="${occupied}" class="get_room_value">
                    450
                </p>
            </div>
            <div class="rooms">
                <div class="get_room">
                    <p class="get_room_title">Reserves</p>
                    <form class="for_month_form" action="">
                        <input type="month" name="for_month" class="for_month" id="for_reserves">
                    </form>
                </div>
                <p id="reserve" class="get_room_value" th:text="${totalReserves}">
                    450
                </p>
            </div>
            <div class="rooms">
                <div class="get_room">
                    <p class="get_room_title">Pending</p>
                    <form class="for_month_form" action="">
                        <input type="month" name="for_month" class="for_month" id="for_pending_reserves">
                    </form>
                </div>
                <p id="pending_reserves" th:text="${reserveCount}" class="get_room_value">
                </p>
            </div>
            <div class="rooms">
                <div class="get_room">
                    <p class="get_room_title">income</p>
                    <form class="for_month_form" action="">
                        <input type="month" name="for_month" class="for_month" id="for_income">
                    </form>
                </div>
                <p id="income" th:text="${#numbers.formatCurrency((sum))}" class="get_room_value">
                </p>
            </div>
            <div class="rooms">
                <div class="get_room">
                    <p class="get_room_title">increase</p>
                    <form class="for_month_form" action="">
                        <input type="month" name="for_month" class="for_month">
                    </form>
                </div>
                <p class="get_room_value">
                    4500
                </p>
            </div>
            <div class="rooms">
                <div class="get_room">
                    <p class="get_room_title">reduction</p>
                    <form class="for_month_form" action="">
                        <input type="month" name="for_month" class="for_month">
                    </form>
                </div>
                <p class="get_room_value">
                    4500
                </p>
            </div>

        </div>
        <hr>
        <div class="bottom">
            <div class="room_panel">
                <h2>Rooms</h2>
                <table>
                    <tr th:each="room : ${allRooms}">
                        <td class="room_roomNumber" th:text="${room.roomNumber}">
                        </td>
                        <td th:if="${room.status}">Occupied</td>
                        <td th:unless="${room.status}">Free</td>
                        <td class="room_room_price" th:text="${room.price}">Headquarters</td>
                        <td>Manager</td>
                        <td class="room_room_type" th:text="${room.roomType}" ></td>
                        <input  th:value="*{room.ammenities}" type="hidden" name="roomnumber" id="ammenitiesValue">
                        <td>
                            <button class="update">update</button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="notification_panel">
                <h2>Staff</h2>
                <table>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="user:${users}">
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.lastName}"></td>
                        <td th:if="${user.roles.get(0).name}=='ROLE_RECEPTION'">RECEPTIONIST</td>
                        <td th:if="${user.roles.get(0).name}=='ROLE_MANAGER'">MANAGER</td>
                        <td><a class="more" href="">Change Role</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="update_form">
            <form th:action="@{/admin/updateroom}" th:object="${roomDto}" method="post">
                <div class="update_top">
                    <p class="message">Update</p>
                    <p class="cancel">x</p>
                </div>

                <div>
                    <!--                        <label for="roomnumber">Room Number</label>-->
                    <input  th:field="*{roomNumber}" type="hidden" name="roomnumber" id="roomnumber">
                </div>
                <div>
                    <label for="room_type">Room Type</label>
                    <select th:field="*{roomType}" name="room_type" id="room_type">
                        <option value="suite">Suite</option>
                        <option value="studio">Studio Apartment</option>
                        <option value="presidential">Presidential Suite</option>
                        <option value="executive">Executive Suite</option>
                        <option value="penthouse">Penthouse Apartment</option>
                    </select>
                </div>
                <div class="">
                    <label for="ammenities">Ammenities(Seperated by commas)</label>
                    <input type="text" th:field="*{ammenities}" name="ammenities" id="ammenities">
                </div>
                <div>
                    <label th:field="*{price}" for="price">Price</label>
                    <input type="text" name="price" id="price">
                </div>
                <div>
                    <input type="submit" value="update" id="create">
                </div>
            </form>
        </div>
    </main>
</div>

<script src="/js/admin.js"></script>
</body>
</html>