<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Room</title>
    <link rel="stylesheet" th:href="@{/css/room.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
<div class="nav">
    <div class="logo">
        <a th:href="@{/}">Haven</a>
    </div>
    <div class="menu">
        <a th:href="@{/}">Home</a>
        <a href="#">About</a>
        <div>
            <a sec:authorize="isFullyAuthenticated()" th:href="@{/logout}">Logout</a>
            <a sec:authorize="!isFullyAuthenticated()" th:href="@{/login}">Login</a>
        </div>
    </div>
</div>
    <div class="container" th:object="${singleRoom}">
        <div class="pictures">
            <p class="wheretosleep">Where you will sleep</p>
            <img class="first" th:src="${imageUri}" alt="room">
            <div>
                <i>Room #: <span th:text="${singleRoom.getRoomNumber}"></span></i>
                <p>What it offers</p>
                <ul class="ammenities_list">
                </ul>
                <input type="hidden" style="visibility: hidden" class="start_date" th:value="${#dates.format(reservesList,'yyyy-MM-dd')}"></input>
                <input type="hidden" th:value="${singleRoom.ammenities}" name="ammenities" id="ammenities">
            </div>
        </div>
        <div class="payment">
            <form th:action="@{/user/reserve/{id}(id=${singleRoom.getRoomNumber()})}" th:method="post" class="payment-form" th:object="${reserve}">
                <div class="price">ZMW <span class="pricePerDay" th:text="${singleRoom.price}"></span> day</div>
                <div class="check_period">
                    <div>
                        <label for="checkin">CHECK-IN</label>
                        <input th:field="*{checkInDate}" type="date" name="checkin" id="checkin" required min="">
                    </div>
                    <div>
                        <label for="checkout">CHECK-OUT</label>
                        <input th:field="*{checkOutDate}" type="date" name="checkout" id="checkout">
                    </div>
                </div>
                <div class="details">
                    <p>Calculations</p>
                    <p class="nod">1 day</p>
                    <p class="tax">VAT: 16%</p>
                    <div class="totalprice">ZMW <span class="total">7,890</span></div>
                    <input type="hidden" class="totalAmount" th:field="*{totalAmount}">
                </div>
                <input type="submit" value="Reserve" class="reserve">
            </form>
        </div>
    </div>
<div class="footer">
    <div class="address">
        <p>Plot No. 7</p>
        <p>Along Great East Road</p>
        <p>Opposite East Park Mall</p>
        <p>Lusaka</p>
        <p>Zambia</p>
    </div>
    <div class="contact">
        <p><span class="material-symbols-outlined"> call</span> +260 962 418 322</p>
        <p><span class="material-symbols-outlined"> call</span> +260 962 418 322</p>
    </div>
    <div class="customers">
        <p><u>Our Partners</u></p>
        <p>The University of Zambia</p>
        <p>East Park Mall</p>
        <p>Ministry of Tourism</p>
    </div>

</div>

<script th:src="@{/js/room.js}"></script>
</body>
</html>